<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="DearStoryLocalFeed" value="%DearStoryLocalFeed%" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="DearStoryLocalFeed">
      <package pattern="DearStory.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="xunit.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
